section {
  height: 30rem;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#title {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-family: 'lato', 'sans-serif';
  padding-top: 0.5rem;
  font-weight: 450;
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding-left: 10px;

  background: -webkit-linear-gradient(white, #bdc8d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}