
.dot {
    height: 8em;
    width: 8em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 40px;
  }

  .container {
    display: flex;
  }

  .fixed {
    width: 100%;
  }

  .flex-item {
    flex-grow: 1;
  }

  .small-info {
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    /* padding-left: 10px; */
  }
  
  .objectives {
    font-family: 'lato', 'sans-serif';
    font-weight: 360;
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding-left: 10px;

    background: -webkit-linear-gradient(white, #bdc8d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .modal-bg {
    background-image: url("/images/space.webp");
  }

  .ship-anim {
    animation: linear ease infinite;
    -webkit-animation: linear ease infinite;
    animation-name: run;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s !important;
    animation-duration: 2s !important;
  }
  @keyframes run {
    0% {
      left: 0;
    }
    25% { 
      left: 1px; 
     }
    50% {
      left: 3px;     
    }
    100% {
      left: 0
    }
  }