.subtitle {
  font-family: 'lato', 'sans-serif';
  font-weight: 450;
  font-size: 1.1rem;
  letter-spacing: 3px;
  padding-left: 10px;

  background: -webkit-linear-gradient(white, #bdc8d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: circle;
  margin-left: 2rem;
}